<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="div1">
      <img
        id="eighty-six-img"
        src="../static/Eighty_Six_1.png"
        alt="Image of the goated anime Eighty Six"
      />
      <h1 class="libre-baskerville-bold">Keep moving forward</h1>
      <p class="libre-baskerville-regular">
        Even if you die. Even after you die.
      </p>
    </div>
  </body>
</html>
